numpy==1.26.4
pandas==2.2.2
ultralytics
flake8
flask
xgboost
pyserial
smbus2

scikit-learn

psycopg2-binary

# Adafruit CircuitPython / I2C
adafruit-blinka
adafruit-circuitpython-ads1x15
adafruit-circuitpython-amg88xx


#arm
gpiozero