numpy==1.26.4
pandas==2.2.2
ultralytics
flask
xgboost
pyserial
psycopg2-binary
RPi.GPIO
picamera2

scikit-learn

# Adafruit CircuitPython / I2C
adafruit-blinka
adafruit-circuitpython-ads1x15
adafruit-circuitpython-amg88xx

#arm
gpiozero

flask>=3.0
flask-cors>=4.0
psycopg2-binary>=2.9
shapely>=2.0